<%- include("partials/header.ejs") %>

<div class="post-container">
  <h1 class="heading"><%= foundedTitle %></h1>
  <small id="date" class="date"><%= foundedDate %></small>
  <p class="post-content"><%= foundedPost %></p>
  <small id="author" class="author">By: <%= foundedAuthor %></small>
</div>

<%- include("partials/footer.ejs") %>
